<h2 class="uk-text-primary"><%= @note.title %></h2>
<p>Created: <%= @note.created_at.strftime("%B, %d, %Y") %></p>
<p><%= @note.body %></p>

<h2>Edit Note</h2>
<form method="post" action="/note/<%= @note.id %>"> 
    <input class="uk-input" type="hidden" name="_method" value="put">
    <input class="uk-input" type="text" name="title" value="<%= @note.title %>">
    <input class="uk-input uk-margin-small-top" type="text" name="body" value="<%= @note.body %>">
    <button class="uk-button uk-button-primary uk-margin-top" type="submit">Update Note</button>
</form>

<h2>Delete Note</h2>
<form action="/note/<%= @note.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input class="uk-button uk-button-danger" type="submit" value="Delete Note?">
</form>